{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url nav_links.auth.home.name %}">{{nav_links.auth.home.level}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.home.name %}">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="passagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Passages</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="passagesDropdown">
                                <li><a class="dropdown-item" href="{% url nav_links.auth.view_passage.name %}">{{nav_links.auth.view_passage.level}}</a></li>
                                <li><a class="dropdown-item" href="{% url nav_links.auth.add_passage.name %}">{{nav_links.auth.add_passage.level}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="previewWordsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Preview Words</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="previewWordsDropdown">
                                <li><a class="dropdown-item" href="{% url nav_links.auth.words.name %}">{{nav_links.auth.words.level}}</a></li>
                                <li><a class="dropdown-item" href="{% url nav_links.auth.word_details.name %}">{{nav_links.auth.word_details.level}}</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.logout.name %}">{{nav_links.auth.logout.level}}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.home.name %}">{{nav_links.unauth.home.level}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.login.name %}">{{nav_links.unauth.login.level}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.register.name %}">{{nav_links.unauth.register.level}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div>
        <div class="d-flex">
            <form method="POST" action="{% url 'add-word' %}" class="form-inline w-100 d-flex justify-content-between">
                {% csrf_token %}
                <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="text" placeholder="New Word" required>
                <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="pronunciation" placeholder="Pronunciation">
                <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="meaning" placeholder="Meaning" required>
                <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="example" placeholder="Example">
                <select class="rounded" style="border: 1px solid #a3ada6;" name="difficult_level">
                    {% for item in level %}
                        <option value="{{ item.id }}">{{ item.text }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-sm"><i class="bi bi-check-lg"></i></button>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap mt-3">
        {% for word in words %}
        <div class="bg-primary-subtle w-25 m-1 rounded-3">
            <div class="m-2">

                <div class="d-flex justify-content-between">
                    <div>
                        <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                            {% csrf_token %}
                            <div id="inputWordText{{ word.id }}" class="d-none">
                                <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{word.word.text}}" name="text" required>
                            </div>
                            
                            <span id="spanWordText{{ word.id }}" class="h6 fw-bold text-decoration-underline">{{word.word.text}}</span>
                            <button id="buttonSubmitWordText{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                            <div class="btn-group-visibility d-flex align-items-center">
                                <button id="buttonWordText{{ word.id }}" type="button" onclick="editField('buttonWordText{{ word.id }}', 'buttonSubmitWordText{{ word.id }}', 'spanWordText{{ word.id }}', 'inputWordText{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                            </div>
                        </form>
                        
                        <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                            {% csrf_token %}
                            <div id="inputPronunciation{{ word.id }}" class="d-none">
                                <input class="transparent-input fw-bold" style="font-size: 11px; width: 120px;" type="text" value="{{word.word.pronunciation}}" name="pronunciation" required>
                            </div>
                            <span id="spanPronunciation{{ word.id }}" class="fst-italic" style="font-size: 11px;">{% if word.word.pronunciation %}{{word.word.pronunciation}}{% endif %}</span>
                            <button id="buttonSubmitPronunciation{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                            <div class="btn-group-visibility d-flex align-items-center">
                                <button id="buttonPronunciation{{ word.id }}" type="button" onclick="editField('buttonPronunciation{{ word.id }}', 'buttonSubmitPronunciation{{ word.id }}', 'spanPronunciation{{ word.id }}', 'inputPronunciation{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                            </div>
                        </form>
                    </div>
                    <form method="POST" action="{% url 'edit-word-complexity-level' word.id %}" class="d-inline d-flex align-items-center">
                        {% csrf_token %}
                        <div class="btn-group-visibility d-flex align-items-center">
                            <button id="buttonLevel{{ word.id }}" type="button" onclick="editField('buttonLevel{{ word.id }}', 'buttonSubmitLevel{{ word.id }}', 'spanLevel{{ word.id }}', 'inputLevel{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                        </div>
                        <button id="buttonSubmitLevel{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                        
                        <div id="inputLevel{{ word.id }}" class="d-none">
                            <select name="difficult_level" class="transparent-input">
                                {% for item in level %}
                                    <option value="{{ item.id }}"
                                    {% if word.level.id == item.id %}selected{% endif %}
                                    >{{ item.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span id="spanLevel{{ word.id }}" class="badge" style="background-color: {{word.level.color}}; font-size: 8px;">{{word.level.text}}</span>
                    </form>
                </div>

                <div class="rounded-3">
                    <hr>
                    {% for meaning in word.word.meanings %}
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div style="min-width: 30px; max-width: 30px;"></div>
                            
                            <form method="POST" action="{% url 'edit-word-meaning' meaning.id %}" class="d-inline d-flex">
                                {% csrf_token %}
                                <div id="inputMeaning{{ meaning.id }}" class="d-none">
                                    <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{meaning.text}}" name="meaning" required>
                                </div>
                                <div id="spanMeaning{{ meaning.id }}" class="d-flex align-items-center">
                                    <span>&#8226; {{meaning.text}}</span>
                                </div>
                                <button id="buttonSubmitMeaning{{ meaning.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                            </form>
                        </div>
                        <div class="btn-group-visibility d-flex align-items-center">
                            <button id="buttonMeaning{{ meaning.id }}" type="button" onclick="editField('buttonMeaning{{ meaning.id }}', 'buttonSubmitMeaning{{ meaning.id }}', 'spanMeaning{{ meaning.id }}', 'inputMeaning{{ meaning.id }}')" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>

                            <form method="POST" action="{% url 'delete-word-meaning' meaning.id %}" class="d-inline">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="make-vanish d-flex">
                        <div style="min-width: 30px; max-width: 30px;"></div>
                        <form method="POST" action="{% url 'add-word-meaning' word.word.id %}" class="form-inline w-100 d-flex justify-content-between">
                            {% csrf_token %}
                            <input class="transparent-input" type="text" name="meaning" placeholder="New Meaning" required>
                            <button type="submit" class="btn btn-sm btn-success btn-group-visibility"><i class="bi bi-check-lg"></i></button>
                        </form>
                    </div>
                </div>

                <div class="rounded-3 mt-1">
                    <hr>
                    {% for example in word.word.examples %}
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div style="min-width: 30px; max-width: 30px;"></div>
                            <form method="POST" action="{% url 'edit-example' example.id %}" class="d-inline d-flex align-items-center">
                                {% csrf_token %}
                                <div id="inputExample{{ example.id }}" class="d-none">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-column">
                                            <input class="transparent-input" style="width: 150px;" type="text" value="{{example.sentence}}" name="sentence" required>
                                            <input class="transparent-input" style="width: 150px;" type="text" value="{{example.translate_sentence}}" name="translate_sentence">
                                        </div>
                                        <button id="buttonSubmitExample{{ example.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                    </div>
                                </div>
                                
                                <div id="spanExample{{ example.id }}" class="d-flex flex-column">
                                    <span>&#8226; {{example.sentence}}</span>
                                    <span class="fst-italic text-muted" style="font-size: 12px;">- {{example.translate_sentence}}</span>
                                </div>
                                
                            </form>
                        </div>
                        <div class="btn-group-visibility d-flex align-items-center">
                            <button id="buttonExample{{ example.id }}" type="button" onclick="editField('buttonExample{{ example.id }}', 'buttonSubmitExample{{ example.id }}', 'spanExample{{ example.id }}', 'inputExample{{ example.id }}')" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                            <form method="POST" action="{% url 'delete-example' example.id %}" class="d-inline">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="make-vanish d-flex">
                        <div style="min-width: 30px; max-width: 30px;"></div>
                        <form method="POST" action="{% url 'add-example' word.word.id %}" class="form-inline w-100 d-flex justify-content-between">
                            {% csrf_token %}
                            <div>
                                <input class="transparent-input" type="text" name="sentence" placeholder="Enter Sentence" required>
                                <input class="transparent-input" type="text" name="translate_sentence" placeholder="Translate the Sentence">
                            </div>
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-sm btn-success btn-group-visibility"><i class="bi bi-check-lg"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="rounded-3">
                    <div class="d-flex justify-content-end">
                        <span>{{word.date_time|date}}</span>
                    </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}