{% extends 'base.html' %}
{% load passage_filters %}
{% block title %}{{title}}{% endblock %}


{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url nav_links.auth.home.name %}">{{nav_links.auth.home.level}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.home.name %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.words.name %}">{{nav_links.auth.words.level}}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="passagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Passages</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="passagesDropdown">
                                <li><a class="dropdown-item" href="{% url nav_links.auth.view_passage.name %}">{{nav_links.auth.view_passage.level}}</a></li>
                                <li><a class="dropdown-item" href="{% url nav_links.auth.add_passage.name %}">{{nav_links.auth.add_passage.level}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.logout.name %}">{{nav_links.auth.logout.level}}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.home.name %}">{{nav_links.unauth.home.level}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.login.name %}">{{nav_links.unauth.login.level}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.register.name %}">{{nav_links.unauth.register.level}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
    {% if user.is_authenticated  %}
        <div class="container-fluid">
            <div class="row">

                <!-- Your Passages Section -->
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <span class="h2">Your Passages</span>
                                <div class="d-flex justify-content-center make-transparent gap-4">
                                    <a style="text-decoration: none;" href="/passage/refetch-passages">Refetch</a>
                                    <a style="text-decoration: none;" href="/passage/remove-passages">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            {% if passages %}
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col" class="d-none d-md-table-cell">Created At</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for passage in passages %}
                                                <tr>
                                                    <td>
                                                        <a style="text-decoration: none;" href="/passage/get-passage-using-id/{{passage.id}}">{{passage.title|truncatechars:20}}</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">{{passage.created_at}}</td>
                                                    <td>
                                                        <a style="text-decoration: none;" href="/passage/remove-passage-from-my-list/{{passage.id}}">Remove</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <span class="h5">Passage List is Empty.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Suggested Passages Section -->
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="h2">Suggested Passages</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            {% if preview_passages %}
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for preview_passage in preview_passages %}
                                                <tr>
                                                    <td>
                                                        <a class="d-flex flex-column" style="text-decoration: none;" href="/passage/get-passage-using-id/{{preview_passage.id}}">
                                                            <span>{{preview_passage.passage.title|truncatechars:20}}</span>
                                                            <small class="text-muted">{{preview_passage.user.full_name}}</small>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <form method="POST" action="{% url 'add-passage-to-your-list' preview_passage.passage.id %}" class="d-flex flex-column flex-md-row align-items-center gap-2">
                                                            {% csrf_token %}
                                                            <select id="audience" name="audience" class="form-select form-select-sm">
                                                                {% for audience in audiences %}
                                                                    <option value="{{ audience }}">{{ audience }}</option>
                                                                {% endfor %}
                                                            </select>

                                                            <select style="height: 100px; width: 150px;" class="d-none" id="audience_users" name="audience_users" multiple>
                                                                {% for friend in friends %}
                                                                    <option value="{{ friend.id }}">{{ friend.username }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <button type="submit" class="btn btn-sm btn-link p-0">Add</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <span class="h5">No Suggestions Available.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% else %}
        <h1>Login First</h1>
    {% endif %}
{% endblock %}