{% for four_words in group_of_four_words %}
    {% for word in four_words %}
        <div class="col-md-3 col-sm-6">
            <div class="bg-primary-subtle w-100 d-flex flex-column mb-1 rounded-3">
                <div class="m-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <span title="{{word.word.added_by.first_name}} {{word.word.added_by.last_name}}" class="h6 fw-bold text-decoration-underline">{{word.word.text}}</span>
                            <span title="{{word.word.added_by.first_name}} {{word.word.added_by.last_name}}" class="fst-italic" style="font-size: 11px;">{% if word.word.pronunciation %}{{word.word.pronunciation}}{% endif %}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            {% comment %} <div style="height: 10px; width: 15px; background-color: {{word.level.color}};"></div> {% endcomment %}
                            <span class="badge" style="background-color: {{word.level.color}}; font-size: 8px;">{{word.level.text}}</span>
                        </div>
                    </div>

                    <div class="rounded-3">
                        {% for meaning in word.word.meanings %}
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div style="min-width: 30px; max-width: 30px;"></div>
                                
                                <form method="POST" action="{% url 'edit-word-meaning' meaning.id %}" class="d-inline d-flex">
                                    {% csrf_token %}
                                    <div id="inputMeaning{{ meaning.id }}" class="d-none">
                                        <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{meaning.text}}" name="meaning" required>
                                    </div>
                                    <div id="spanMeaning{{ meaning.id }}" class="d-flex align-items-center">
                                        <span title="{{meaning.added_by.first_name}} {{meaning.added_by.last_name}}">&#8226; {{meaning.text}}</span>
                                    </div>
                                    <button id="buttonSubmitMeaning{{ meaning.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                </form>
                            </div>
                            <div class="btn-group-visibility d-flex align-items-center">
                                <button id="buttonMeaning{{ meaning.id }}" type="button" onclick="editField('buttonMeaning{{ meaning.id }}', 'buttonSubmitMeaning{{ meaning.id }}', 'spanMeaning{{ meaning.id }}', 'inputMeaning{{ meaning.id }}')" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>

                                <form method="POST" action="{% url 'delete-word-meaning' meaning.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="make-vanish d-flex">
                            <div style="min-width: 30px; max-width: 30px;"></div>
                            <form method="POST" action="{% url 'add-word-meaning' word.id %}" class="form-inline w-100 d-flex justify-content-between">
                                {% csrf_token %}
                                <input class="transparent-input" type="text" name="meaning" placeholder="New Meaning" required>
                                <button type="submit" class="btn btn-sm btn-success btn-group-visibility"><i class="bi bi-check-lg"></i></button>
                            </form>
                        </div>
                    </div>

                    {% comment %} <div class="rounded-3">
                        <div class="d-flex justify-content-end">
                            <span>{{word.date_time|date}}</span>
                        </div>
                    </div> {% endcomment %}
                    
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}


{% comment %} {% for four_words in group_of_four_words %}
    {% for word in four_words %}
        <div class="col-md-3 col-sm-6">
            <div class="bg-primary-subtle w-100 d-flex flex-column m-1 rounded-3">
                <div class="m-2">
                    <div class="d-flex justify-content-between">
                        <div>
                            <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                                {% csrf_token %}
                                <div id="inputWordText{{ word.id }}" class="d-none">
                                    <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{word.word.text}}" name="text" required>
                                </div>
                                
                                <span id="spanWordText{{ word.id }}" class="h6 fw-bold text-decoration-underline">{{word.word.text}}</span>
                                <button id="buttonSubmitWordText{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                <div class="btn-group-visibility d-flex align-items-center">
                                    <button id="buttonWordText{{ word.id }}" type="button" onclick="editField('buttonWordText{{ word.id }}', 'buttonSubmitWordText{{ word.id }}', 'spanWordText{{ word.id }}', 'inputWordText{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                                </div>
                            </form>
                            
                            <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                                {% csrf_token %}
                                <div id="inputPronunciation{{ word.id }}" class="d-none">
                                    <input class="transparent-input fw-bold" style="font-size: 11px; width: 120px;" type="text" value="{{word.word.pronunciation}}" name="pronunciation" required>
                                </div>
                                <span id="spanPronunciation{{ word.id }}" class="fst-italic" style="font-size: 11px;">{% if word.word.pronunciation %}{{word.word.pronunciation}}{% endif %}</span>
                                <button id="buttonSubmitPronunciation{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                <div class="btn-group-visibility d-flex align-items-center">
                                    <button id="buttonPronunciation{{ word.id }}" type="button" onclick="editField('buttonPronunciation{{ word.id }}', 'buttonSubmitPronunciation{{ word.id }}', 'spanPronunciation{{ word.id }}', 'inputPronunciation{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                                </div>
                            </form>
                        </div>
                        <form method="POST" action="{% url 'edit-word-complexity-level' word.id %}" class="d-inline d-flex align-items-center">
                            {% csrf_token %}
                            <div class="btn-group-visibility d-flex align-items-center">
                                <button id="buttonLevel{{ word.id }}" type="button" onclick="editField('buttonLevel{{ word.id }}', 'buttonSubmitLevel{{ word.id }}', 'spanLevel{{ word.id }}', 'inputLevel{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                            </div>
                            <button id="buttonSubmitLevel{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                            
                            <div id="inputLevel{{ word.id }}" class="d-none">
                                <select name="difficult_level" class="transparent-input">
                                    {% for item in level %}
                                        <option value="{{ item.id }}"
                                        {% if word.level.id == item.id %}selected{% endif %}
                                        >{{ item.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <span id="spanLevel{{ word.id }}" class="badge" style="background-color: {{word.level.color}}; font-size: 8px;">{{word.level.text}}</span>
                        </form>
                    </div>

                    <div class="rounded-3">
                        <hr>
                        {% for meaning in word.word.meanings %}
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div style="min-width: 30px; max-width: 30px;"></div>
                                
                                <form method="POST" action="{% url 'edit-word-meaning' meaning.id %}" class="d-inline d-flex">
                                    {% csrf_token %}
                                    <div id="inputMeaning{{ meaning.id }}" class="d-none">
                                        <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{meaning.text}}" name="meaning" required>
                                    </div>
                                    <div id="spanMeaning{{ meaning.id }}" class="d-flex align-items-center">
                                        <span>&#8226; {{meaning.text}}</span>
                                    </div>
                                    <button id="buttonSubmitMeaning{{ meaning.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                </form>
                            </div>
                            <div class="btn-group-visibility d-flex align-items-center">
                                <button id="buttonMeaning{{ meaning.id }}" type="button" onclick="editField('buttonMeaning{{ meaning.id }}', 'buttonSubmitMeaning{{ meaning.id }}', 'spanMeaning{{ meaning.id }}', 'inputMeaning{{ meaning.id }}')" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>

                                <form method="POST" action="{% url 'delete-word-meaning' meaning.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="make-vanish d-flex">
                            <div style="min-width: 30px; max-width: 30px;"></div>
                            <form method="POST" action="{% url 'add-word-meaning' word.id %}" class="form-inline w-100 d-flex justify-content-between">
                                {% csrf_token %}
                                <input class="transparent-input" type="text" name="meaning" placeholder="New Meaning" required>
                                <button type="submit" class="btn btn-sm btn-success btn-group-visibility"><i class="bi bi-check-lg"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %} {% endcomment %}