{% extends 'base.html' %}
{% load passage_filters %}
{% block title %}{{title}}{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky top-0">
    {% if user.is_authenticated  %}
    <a class="navbar-brand" href="{{nav_links.auth.home.link}}">{{nav_links.auth.home.level}}</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" type="button" id="wordsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Passage
                </button>
                <div class="dropdown-menu" aria-labelledby="wordsDropdown">
                    <a class="dropdown-item" href="{{nav_links.auth.view_passage.link}}">{{nav_links.auth.view_passage.level}}</a>
                    <a class="dropdown-item" href="{{nav_links.auth.add_passage.link}}">{{nav_links.auth.add_passage.level}}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" type="button" id="wordsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Preview Words
                </button>
                <div class="dropdown-menu" aria-labelledby="wordsDropdown">
                    <a class="dropdown-item" href="{{nav_links.auth.words.link}}">{{nav_links.auth.words.level}}</a>
                    <a class="dropdown-item" href="{{nav_links.auth.word_details.link}}">{{nav_links.auth.word_details.level}}</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{nav_links.auth.logout.link}}">{{nav_links.auth.logout.level}}</a>
            </li>
        </ul>

        <div>
            <div class="d-flex">
                <form method="POST" action="{% url 'add-word-from-passage' passage.id %}" class="form-inline w-100 d-flex justify-content-between">
                    {% csrf_token %}
                    <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="text" placeholder="New Word" required>
                    <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="meaning" placeholder="Meaning" required>
                    <select class="rounded" style="border: 1px solid #a3ada6;" name="difficult_level">
                        {% for item in level %}
                            <option value="{{ item.id }}">{{ item.text }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-sm"><i class="bi bi-check-lg"></i></button>
                </form>
            </div>
        </div>

    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{nav_links.unauth.home.link}}">{{nav_links.unauth.home.level}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{nav_links.unauth.register.link}}">{{nav_links.unauth.register.level}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{nav_links.unauth.login.link}}">{{nav_links.unauth.login.level}}</a>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
{% endblock %}


{% block body %}
    {% if user.is_authenticated  %}
        {% if passage %}
            {% comment %} <div>
                <div class="d-flex">
                    <form method="POST" action="{% url 'add-word' %}" class="form-inline w-100 d-flex justify-content-between">
                        {% csrf_token %}
                        <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="text" placeholder="New Word" required>
                        <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="pronunciation" placeholder="Pronunciation">
                        <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="meaning" placeholder="Meaning" required>
                        <input class="rounded" style="border: 1px solid #a3ada6;" type="text" name="example" placeholder="Example">
                        <select class="rounded" style="border: 1px solid #a3ada6;" name="difficult_level">
                            {% for item in level %}
                                <option value="{{ item.id }}">{{ item.text }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-sm"><i class="bi bi-check-lg"></i></button>
                    </form>
                </div>
            </div> {% endcomment %}
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-items-center">
                    <span class="h1 font-weight-bold">{{passage.title}}</span>
                    <div class="btn-group-visibility d-flex align-items-center">
                        <a class="mx-1" style="border: none; background-color: transparent; cursor: pointer;" href="/passage/edit-passage/{{passage.id}}">Edit Passage</a>
                        <a class="mx-1" style="border: none; background-color: transparent; cursor: pointer;" href="/passage/reset-passage/{{passage.id}}">Reset Passage</a>
                    </div>
                </div>
                <div>
                    <span>{{passage.content|safe}}</span>
                </div>
            </div>
            
            <div class="d-flex justify-content-between flex-wrap mt-3">
                {% for word in words %}
                <div class="bg-primary-subtle w-25 d-flex flex-column m-1 rounded-3">
                    <div class="m-2">

                        <div class="d-flex justify-content-between">
                            <div>
                                <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                                    {% csrf_token %}
                                    <div id="inputWordText{{ word.id }}" class="d-none">
                                        <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{word.word.text}}" name="text" required>
                                    </div>
                                    
                                    <span id="spanWordText{{ word.id }}" class="fs-5 fw-bold text-decoration-underline">{{word.word.text}}</span>
                                    <button id="buttonSubmitWordText{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                    <div class="btn-group-visibility d-flex align-items-center">
                                        <button id="buttonWordText{{ word.id }}" type="button" onclick="editField('buttonWordText{{ word.id }}', 'buttonSubmitWordText{{ word.id }}', 'spanWordText{{ word.id }}', 'inputWordText{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                                    </div>
                                </form>
                                
                                <form method="POST" action="{% url 'edit-word' word.word.id %}" class="d-inline d-flex">
                                    {% csrf_token %}
                                    <div id="inputPronunciation{{ word.id }}" class="d-none">
                                        <input class="transparent-input fw-bold" style="width: 120px;" type="text" value="{{word.word.pronunciation}}" name="pronunciation" required>
                                    </div>
                                    <span id="spanPronunciation{{ word.id }}" class="fs-6 fw-bold fst-italic">{{word.word.pronunciation}}</span>
                                    <button id="buttonSubmitPronunciation{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                    <div class="btn-group-visibility d-flex align-items-center">
                                        <button id="buttonPronunciation{{ word.id }}" type="button" onclick="editField('buttonPronunciation{{ word.id }}', 'buttonSubmitPronunciation{{ word.id }}', 'spanPronunciation{{ word.id }}', 'inputPronunciation{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                                    </div>
                                </form>
                            </div>
                            <form method="POST" action="{% url 'edit-word-complexity-level' word.id %}" class="d-inline d-flex align-items-center">
                                {% csrf_token %}
                                <div class="btn-group-visibility d-flex align-items-center">
                                    <button id="buttonLevel{{ word.id }}" type="button" onclick="editField('buttonLevel{{ word.id }}', 'buttonSubmitLevel{{ word.id }}', 'spanLevel{{ word.id }}', 'inputLevel{{ word.id }}')" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                                </div>
                                <button id="buttonSubmitLevel{{ word.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                
                                <div id="inputLevel{{ word.id }}" class="d-none">
                                    <select name="difficult_level" class="transparent-input">
                                        {% for item in level %}
                                            <option value="{{ item.id }}"
                                            {% if word.level.id == item.id %}selected{% endif %}
                                            >{{ item.text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span id="spanLevel{{ word.id }}" class="badge bg-success">{{word.level.text}}</span>
                            </form>
                        </div>

                        <div class="rounded-3">
                            <hr>
                            {% for meaning in word.word.meanings %}
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <div style="min-width: 30px; max-width: 30px;"></div>
                                    
                                    <form method="POST" action="{% url 'edit-word-meaning' meaning.id %}" class="d-inline d-flex">
                                        {% csrf_token %}
                                        <div id="inputMeaning{{ meaning.id }}" class="d-none">
                                            <input class="transparent-input fw-bold" style="width: 150px;" type="text" value="{{meaning.text}}" name="meaning" required>
                                        </div>
                                        <div id="spanMeaning{{ meaning.id }}" class="d-flex align-items-center">
                                            <span>&#8226; {{meaning.text}}</span>
                                        </div>
                                        <button id="buttonSubmitMeaning{{ meaning.id }}" class="d-none" type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="bi bi-check-lg"></i></button>
                                    </form>
                                </div>
                                <div class="btn-group-visibility d-flex align-items-center">
                                    <button id="buttonMeaning{{ meaning.id }}" type="button" onclick="editField('buttonMeaning{{ meaning.id }}', 'buttonSubmitMeaning{{ meaning.id }}', 'spanMeaning{{ meaning.id }}', 'inputMeaning{{ meaning.id }}')" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>

                                    <form method="POST" action="{% url 'delete-word-meaning' meaning.id %}" class="d-inline">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="make-vanish d-flex">
                                <div style="min-width: 30px; max-width: 30px;"></div>
                                <form method="POST" action="{% url 'add-word-meaning' word.id %}" class="form-inline w-100 d-flex justify-content-between">
                                    {% csrf_token %}
                                    <input class="transparent-input" type="text" name="meaning" placeholder="New Meaning" required>
                                    <button type="submit" class="btn btn-sm btn-success btn-group-visibility"><i class="bi bi-check-lg"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="rounded-3">
                            <div class="d-flex justify-content-end">
                                <span>{{word.date_time|date}}</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>No passage is available.</h1>
        {% endif %}
    {% else %}
        <h1>Login First</h1>
    {% endif %}
{% endblock %}