{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}


{% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-sticky-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url nav_links.auth.home.name %}">{{nav_links.auth.home.level}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                      <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.home.name %}">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.words.name %}">{{nav_links.auth.words.level}}</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="passagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Passages</a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="passagesDropdown">
                              <li><a class="dropdown-item" href="{% url nav_links.auth.view_passage.name %}">{{nav_links.auth.view_passage.level}}</a></li>
                              <li><a class="dropdown-item" href="{% url nav_links.auth.add_passage.name %}">{{nav_links.auth.add_passage.level}}</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.logout.name %}">{{nav_links.auth.logout.level}}</a></li>
                  {% else %}
                      <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.login.name %}">{{nav_links.unauth.login.level}}</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.register.name %}">{{nav_links.unauth.register.level}}</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>
{% endblock %}

{% block body %}
  <h1>Home Page</h1>
  {% if user.is_authenticated  %}
    <div class="d-flex justify-content-between flex-wrap mt-3">
      {% for friend_request in friend_requests %}
        <div class="d-flex flex-column bg-light rounded">
          <div class="d-flex justify-content-center align-items-center">
            <span class="fs-3 fw-bold">{{friend_request.user.full_name}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div style="width:210px;">
              <span>{{friend_request.request_message}}</span>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a style="text-decoration: none;" href="/user/accept-friend-request/{{friend_request.user.id}}">Accept Request</a>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a style="text-decoration: none;" href="/user/delete-friend-request/{{friend_request.user.id}}">Delete Request</a>
          </div>
        </div>
      {% endfor %}
    </div>



    <div class="d-flex justify-content-between flex-wrap mt-3">
      {% for potential_friend in potential_friends %}
        <div class="d-flex flex-column bg-light rounded">
          <div class="d-flex justify-content-center align-items-center">
            <span class="fs-3 fw-bold">{{potential_friend.full_name}}</span>
          </div>
          <form method="POST" action="{% url 'send-friend-request' potential_friend.id %}" class="d-inline d-flex flex-column">
            {% csrf_token %}
            <div class="d-flex justify-content-center align-items-center">
              {% comment %} <input class="transparent-input fw-bold" style="width: 150px;" type="text" name="request_message"> {% endcomment %}
              <textarea class="transparent-input fw-bold" style="width: 150px;" rows="2" name="request_message"></textarea>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">Send Friend Request</button>
            </div>
          </form>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h1>To Explore Login.</h1>
  {% endif %}
{% endblock %}