{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}


{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url nav_links.auth.home.name %}">{{nav_links.auth.home.level}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.home.name %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.auth.words.name %}">{{nav_links.auth.words.level}}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="passagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Passages</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="passagesDropdown">
                                <li><a class="dropdown-item" href="{% url nav_links.auth.view_passage.name %}">{{nav_links.auth.view_passage.level}}</a></li>
                                <li><a class="dropdown-item" href="{% url nav_links.auth.add_passage.name %}">{{nav_links.auth.add_passage.level}}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.home.name %}">{{nav_links.unauth.home.level}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url nav_links.unauth.register.name %}">{{nav_links.unauth.register.level}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
  <div class="container">
    <div class="row justify-content-center mt-3">
      {% if not user.is_authenticated %}
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="card p-4">
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <!-- Email input -->
              <div class="form-outline mb-3">
                <input type="text" class="form-control" name="username" value="{{field.username}}" placeholder="Username" required/>
                {% if error.username %}
                  <span class="text-danger small">{{error.username}}</span>
                {% endif %}
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input type="password" class="form-control" name="password" value="{{field.password}}" placeholder="Password" required/>
                {% if error.password %}
                  <span class="text-danger small">{{error.password}}</span>
                {% endif %}
              </div>

              <!-- Submit button -->
              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </div>

              <!-- Links section -->
              <div class="text-center">
                <p class="mb-2">Not a member? <a href="{{nav_links.unauth.register.link}}">{{nav_links.unauth.register.level}}</a></p>
                <p class="mb-0">
                  <a href="{{nav_links.unauth.forgot_password.link}}">{{nav_links.unauth.forgot_password.level}}</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      {% else %}
        <div class="col-12 text-center">
          <h1 class="h3 h-md-2">{{user.full_name}}, You are already logged In.</h1>
          <a href="/" class="btn btn-primary mt-3">Go to Home</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}